@font-face {
  font-family:'Poppins-BoldItalic';
  src: url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,300&display=swap')
}

*{
  font-family:'Poppins-BoldItalic',monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73));
}
/*Gradient by uigradients.com*/
